<div class="App">
  <header class="App-header">
    <img src="https://external-preview.redd.it/3KD1sbk34JSHJJhs76ibPzZk0mZmkpz0dliJwoPzyWY.jpg?auto=webp&v=enabled&s=397391b7d0c3e6cadf636540fe8bab833fc2ce4e" class="App-logo" alt="Poză Campion" /style="width:500px;height:500px;">
    <p>
      <span class="heart">♥️</span> Lucușor motan tărcat
    </p>
    <p class="medium">
         Felicitări, campionule!
    </p>
  </header>
</div>
